.form {
  border: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form__fieldset {
  background-color: white;
  border: none;
  padding: 10px;
  width: 100%;
  box-shadow: 5px 5px 5px rgb(209, 209, 209);
}

.form__fieldset--header {
 margin-bottom: 3px;
}

.header {
  margin-left: 10px;
}

.form__fieldset--input {
  margin-bottom: 15px;
  padding: 20px;
}

.input {
  width: 80%;
  padding: 10px;
  border: 2px solid rgb(184, 184, 184);
  border-radius: 3px;
}

.form__button {
  padding: 12px;
  margin-left: 10px;
  color: white;
  background-color: teal;
  border: none;
  width: 18%;
  border-radius: 3px;
}

@media (max-width:767px) {
  .form__fieldset--input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .form__button {
    max-width: 200px;
    width: 100%;
    margin: 5px;
  }
}

.form__list {
 list-style: none;
 padding: 0;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 width: 100%;
}

.button__done {
  padding: 10px;
  color: white;
  background-color: rgb(150, 226, 36);
  margin-right: 5px;
  border: none;
  width: 40px;
  height: 40px;
}

.button__delete {
  padding: 10px;
  color: white;
  background-color: rgb(206, 41, 36);
  border: none;
  max-width: 40px;
  height: 40px;
}

.form__list--table {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
 .form__list--content {
   flex-grow: 1;
   margin-left: 10px;
 }

 .form__fieldset--list {
  margin-top: 5px;
  background-color: white;
  border: none;
  padding: 10px;
  max-width: 980px;
  box-shadow: 5px 5px 5px rgb(209, 209, 209);
  word-break: break-word;
 }

 .task__done {
   text-decoration: line-through;
 }