.form__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
 }
 
 .form__list--table {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
 }
  .form__list--content {
    flex-grow: 1;
    margin-left: 10px;
  }
 
  .form__fieldset--list {
   margin-top: 5px;
   background-color: white;
   border: none;
   padding: 10px;
   max-width: 980px;
   box-shadow: 5px 5px 5px rgb(209, 209, 209);
   word-break: break-word;
  }

  .button__done {
    padding: 10px;
    color: white;
    background-color: rgb(117, 173, 32);
    margin-right: 5px;
    border: none;
    width: 40px;
    height: 40px;
  }

  .button__done:hover {
    background-color: rgb(150, 226, 36);
  }
  
  .button__delete {
    padding: 10px;
    color: white;
    background-color: rgb(206, 41, 36);
    border: none;
    max-width: 40px;
    height: 40px;
  }

  .button__delete:hover {
    background-color: rgb(250, 49, 42);
  }
  
  .task__done {
    text-decoration: line-through;
  }