.form {
  border: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form__fieldset {
  background-color: white;
  border: none;
  padding: 10px;
  width: 100%;
  box-shadow: 5px 5px 5px rgb(209, 209, 209);
}

.form__fieldset--header {
 margin-bottom: 3px;
}

.header {
  margin-left: 10px;
}